.head_content {
  width: 100%;
  height: 350px;
  background: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 72px;
}

.main_content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 42px;
}

p {
  margin: auto;
}
