<div mat-dialog-content>
    <form [formGroup]="form">
        <h1 mat-dialog-title>{{title}} </h1>
        <mat-form-field class="example-full-width">
            <mat-label>Заголовок</mat-label>
            <input e2e-id="titleTopic"
                   formControlName="title"
                   matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Описание</mat-label>
            <input e2e-id="descriptionTopic"
                   formControlName="description"
                   matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Порядковый номер</mat-label>
            <input e2e-id="numberTopic"
                   formControlName="number"
                   matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Уровень</mat-label>
            <input e2e-id="levelTopic"
                   formControlName="level"
                   matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Комментарий</mat-label>
            <textarea e2e-id="commentTopic"
                      formControlName="comment"
                      matInput></textarea>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()"
            mat-button>No Thanks
    </button>
    <button [disabled]="!form.valid"
            [mat-dialog-close]="onOkClick()"
            cdkFocusInitial
            e2e-id="btnTopicOk"
            mat-button>Ok
    </button>
</div>
