<mat-toolbar color="primary">

    <mat-toolbar-row class="position_header">

        <div class="position_navigation">
            <img alt=""
                 class="logo"
                 routerLink="/"
                 src="../../../assets/img/Andersen_logo_white.png">

            <a *ngIf="auth.isLogged()"
               class="top_bar_navigation"
               routerLink="/users">Users</a>
            <a *ngIf="auth.isLogged()"
               class="top_bar_navigation"
               routerLink="/matrix">Matrix</a>
            <a *ngIf="auth.isLogged()"
               class="top_bar_navigation"
               routerLink="/topic-table">Topics</a>
            <a *ngIf="auth.isLogged()"
               class="top_bar_navigation"
               routerLink="/tree/index">Tree</a>

        </div>

        <div [matMenuTriggerFor]="menu"
             class="user_info">
            <img alt=""
                 class="user_image"
                 src="../../../assets/img/user.svg">
            <span class="user_name">{{this.getName()}}</span>

            <mat-menu #menu="matMenu">
                <!--                <button class="move_to_page" mat-menu-item>Profile</button>-->
                <button (click)="auth.logout()"
                        *ngIf="auth.isLogged()"
                        class="move_to_page"
                        mat-menu-item>Log out
                </button>
                <button (click)="router.navigate(['/login'])"
                        *ngIf="auth.isLogged()==false"
                        class="move_to_page"
                        mat-menu-item>Login
                </button>
            </mat-menu>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
