
.position_header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.top_bar_navigation {
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  padding: 5px 20px;
  margin-top: 10px;
}

.user_image {
  width: 40px;
  height: 40px;
}

.position_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_name, .user_surname {
  margin-left: 10px;
}

.user_info {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.move_to_page {
  width: 200px;
  text-align: center;
}

.logo {
  cursor: pointer;
  width: 120px;
  margin-bottom: 10px;
}

.logo div img:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.position_header {
  display: flex;
  justify-content: space-between;
}

.top_bar_navigation:hover {
  background-color: #3d4eae;
}

.user_info:hover {
  background-color: #3d4eae;
}

