<table [dataSource]="topic"
       class="mat-elevation-z8"
       mat-table>
    <ng-container matColumnDef="position">
        <th *matHeaderCellDef
            mat-header-cell> No.
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th *matHeaderCellDef
            mat-header-cell> title
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th *matHeaderCellDef
            mat-header-cell> description
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.description}} </td>
    </ng-container>

    <ng-container matColumnDef="level">
        <th *matHeaderCellDef
            mat-header-cell> level
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.level}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
        <th *matHeaderCellDef
            mat-header-cell> number
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.number}} </td>
    </ng-container>

    <ng-container matColumnDef="comment">
        <th *matHeaderCellDef
            mat-header-cell> comment
        </th>
        <td *matCellDef="let item"
            mat-cell> {{item.comment}} </td>
    </ng-container>

    <ng-container matColumnDef="del">
        <th *matHeaderCellDef
            mat-header-cell
            style="width: 100px">
            <button (click)="openDialog()"
                    e2e-id="createTopic"
                    mat-icon-button
                    style="color: green">
                <mat-icon>add_to_photos</mat-icon>
            </button>
        </th>
        <td *matCellDef="let element"
            mat-cell>
            <button (click)="editing(element)"
                    color="primary"
                    e2e-id="editTopic"
                    mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(element)"
                    color="warn"
                    e2e-id="deleteTopic"
                    mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row></tr>
</table>

