<div class="content">
    <div class="button-group">
        <div class="text-claster">
            <div *ngIf="treesData"
                 matTooltip="{{treesData.comment}}">
                {{treesData.name}}
            </div>
        </div>
        <div class="button-claster">
            <button (click)="addUserToDiargam()"
                    e2e-id="AddUserDiagram"
                    mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button (click)="clearDiagram()"
                    e2e-id="ClearDiagram"
                    mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
            <mat-divider style="display: unset; margin: 5px"
                         vertical></mat-divider>
            <button (click)="loadLocal()"
                    mat-icon-button>
                <mat-icon>get_app</mat-icon>
            </button>
            <button (click)="saveLocal()"
                    mat-icon-button>
                <mat-icon>publish</mat-icon>
            </button>
            <mat-divider style="display: unset; margin: 5px"
                         vertical></mat-divider>
            <button (click)="loadDiagramFirebase()"
                    e2e-id="LoadDiagram"
                    mat-icon-button>
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button (click)="saveDiagramFirebase()"
                    e2e-id="SaveDiagram"
                    mat-icon-button>
                <mat-icon>cloud_upload</mat-icon>
            </button>
        </div>
    </div>
    <ejs-diagram #diagram
                 (created)='create()'
                 [dataSourceSettings]='data'
                 [getConnectorDefaults]='connDefaults'
                 [getCustomTool]='getCustomTool'
                 [getNodeDefaults]='nodeDefaults'
                 [layout]='layout'
                 [selectedItems]='selectedItems'
                 [setNodeTemplate]="setNodeTemplate"
                 height="860px"
                 width="100%">
    </ejs-diagram>
    <ejs-uploader (success)='onUploadSuccess($event)'
                  [asyncSettings]='asyncSettings'
                  id='fileupload'>
    </ejs-uploader>
</div>
