<button
        (click)="openSearchDialog()"
        mat-icon-button
        style="position: absolute; margin-left: 20px;margin-top: 20px; color: green">
    <mat-icon>search</mat-icon>
</button>
<table [dataSource]="dataSource"
       class="mat-elevation-z8"
       mat-table
       matSort>

    <ng-container matColumnDef="photo">
        <th *matHeaderCellDef
            mat-header-cell> Photo
        </th>
        <td *matCellDef="let element"
            mat-cell>
            <mat-card>
                <img mat-card-avatar
                     src="{{element?.photo}}">
            </mat-card>
        </td>
    </ng-container>
    <!-- Column FullName  -->
    <ng-container matColumnDef="fullName">
        <th *matHeaderCellDef
            mat-header-cell>
            <div class="sort-block">
                <mat-form-field class="example-form-field">
                    <mat-label>FullName</mat-label>
                    <label>
                        <input (input)="searchFullName($event.target['value'])"
                               [(ngModel)]="tempFullName"
                               e2e-id="searchFullName"
                               matInput
                               type="text">
                    </label>
                    <button (click)="clearInputFullName()"
                            aria-label="Clear"
                            mat-button
                            mat-icon-button
                            matSuffix>
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div class="sort-arrow"
                     e2e-id="sortByFullName"
                     mat-sort-header></div>
            </div>

        </th>
        <td *matCellDef="let element"
            mat-cell><a
                [href]='sanitizePortal(element.externalId)'>{{element?.fullName}} </a></td>
    </ng-container>

    <!-- Column Location -->
    <ng-container matColumnDef="location">
        <th *matHeaderCellDef
            mat-header-cell>
            <div class="sort-block">
                <mat-form-field class="example-form-field">
                    <mat-label>Location</mat-label>
                    <label>
                        <input (input)="searchLocation($event.target['value'])"
                               [(ngModel)]="tempLocation"
                               e2e-id="searchLocation"
                               matInput
                               type="text">
                    </label>
                    <button (click)="clearInputLocation()"
                            mat-button
                            mat-icon-button
                            aria-label="Clear"
                            matSuffix>
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div class="sort-arrow"
                     e2e-id="sortByLocation"
                     mat-sort-header></div>
            </div>
        </th>
        <td *matCellDef="let element"
            mat-cell>{{element?.location}} </td>
    </ng-container>
    <ng-container matColumnDef="roles">
        <th *matHeaderCellDef
            mat-header-cell> Role
        </th>
        <td *matCellDef="let element"
            mat-cell> {{element?.roles.join()}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="department">
        <th *matHeaderCellDef
            mat-header-cell> Department
        </th>
        <td *matCellDef="let element"
            mat-cell> {{element?.department}} </td>
    </ng-container>
    <ng-container matColumnDef="level">
        <th *matHeaderCellDef
            mat-header-cell>
            <div class="sort-block">
                <mat-form-field class="example-form-field">
                    <mat-label>Level</mat-label>
                    <label>
                        <input (input)="searchLevel($event.target['value'])"
                               [(ngModel)]="tempLevel"
                               e2e-id="searchLevel"
                               matInput
                               type="text">
                    </label>
                    <button (click)="clearInputLevel()"
                            mat-button
                            mat-icon-button
                            aria-label="Clear"
                            matSuffix>
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div class="sort-arrow"
                     e2e-id="sortByLevel"
                     mat-sort-header>

                </div>
            </div>
        </th>
        <td *matCellDef="let element"
            mat-cell> {{element?.level}} </td>
    </ng-container>
    <ng-container matColumnDef="skype">
        <th *matHeaderCellDef
            mat-header-cell> Skype
        </th>

        <td *matCellDef="let element"
            mat-cell><a
                [href]='sanitizeSkype(element?.skype)'> {{element?.skype}} </a></td>
    </ng-container>
    <ng-container matColumnDef="phone">
        <th *matHeaderCellDef
            mat-header-cell> Phone
        </th>
        <td *matCellDef="let element"
            mat-cell><a
                [href]="sanitizeTel(element?.phone)">{{element?.phone}}</a></td>
    </ng-container>
    <ng-container matColumnDef="comment">
        <th *matHeaderCellDef
            mat-header-cell>Comment
        </th>
        <td *matCellDef="let element"
            mat-cell>
            <button (click)="openDialog(element.externalId)"
                    e2e-id="addComment"
                    mat-icon-button
                    style="color: green">
                <mat-icon>comment</mat-icon>
            </button>
        </td>
    </ng-container>
    <th *matHeaderCellDef
        mat-header-cell
        style="width: 100px">
    </th>
    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row></tr>
</table>


