table {
  width: 90%;
  margin: 20px auto;
}

button {
  margin: 5px 0;
}

.example-form-field {
  width: 120px;
}

.sort-block {
  display: flex;
  justify-content: center;

  .sort-arrow {
    display: flex;
  }
}

td {
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

.mat-card {
  padding: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.mat-card-avatar {
  height: 50px;
  width: 50px;
  object-fit: cover
}

.example-header-image {
  background-size: cover;
}