<div mat-dialog-content>
    <form [formGroup]="form">
        <h1 mat-dialog-title>Сохранить диаграмму </h1>

        <mat-form-field class="example-full-width">
            <mat-label>Название</mat-label>
            <label>
                <input formControlName="name"
                       matInput
                       required/>
            </label>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Описание</mat-label>
            <label>
                <textarea formControlName="comment"
                          matInput></textarea>
            </label>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()"
            mat-button>No Thanks
    </button>
    <button [disabled]="!form.valid"
            [mat-dialog-close]="onOkClick()"
            mat-button>Ok
    </button>
</div>
