.searchBlock {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.searchItem {
  width: 100%;
}

.content {
  width: 500px;
  margin: 20px auto;
}

.user-card {
  max-width: 400px;
}

.user-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 12%;
}

.user-card {
  margin: 2% 1%;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #888d92;
}