<div class="content">
    <div class="searchBlock">
        <mat-form-field class="searchItem">
            <mat-label>Search string</mat-label>
            <label>
                <input [(ngModel)]="searchString"
                       e2e-id="searchString"
                       matInput
                       placeholder="Search string">
            </label>
            <button (click)="searchString=''"
                    *ngIf="searchString"
                    aria-label="Clear"
                    mat-button
                    mat-icon-button
                    matSuffix>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="searchItem">
            <label>
                <input [(ngModel)]="token"
                       e2e-id="tokenString"
                       matInput
                       placeholder="Token">
            </label>
            <button (click)="token=''"
                    *ngIf="token"
                    aria-label="Clear"
                    mat-button
                    mat-icon-button
                    matSuffix>
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button (click)="search()"
                [disabled]="searchString.length<3"
                color="primary"
                e2e-id="searchButton"
                mat-raised-button>
            <mat-icon>search</mat-icon>
            Search
        </button>
    </div>
</div>
<div *ngIf="result.length !== 0; else emptyList"
     class="user-list">
    <mat-card *ngFor="let user of result"
              class="user-card">
        <mat-card-header>
            <img [src]="'data:image/jpeg;base64,'+ user.photo"
                 alt="{{user.name}}}"
                 mat-card-avatar>
            <mat-card-title e2e-id="userName">{{user.name}}</mat-card-title>
            <mat-card-subtitle>{{user.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button (click)="addUser(user)"
                    aria-label="Add"
                    e2e-id="addToStorage"
                    mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
            <button aria-label="Update"
                    e2e-id="updateData"
                    mat-icon-button>
                <mat-icon>update</mat-icon>
            </button>
            <button aria-label="Delete"
                    e2e-id="deleteData"
                    mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="loadUserDetails(user)"
                    aria-label="Details"
                    e2e-id="detailsData"
                    mat-icon-button>
                <mat-icon>account_box</mat-icon>
            </button>
            <a e2e-id="openInNew"
               href="https://team.andersenlab.com/employee/{{user.id}}/personal-info"
               mat-icon-button
               target="_blank">
                <mat-icon>open_in_new</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #emptyList>
    <div class="container">
        <span>Not found</span>
    </div>
</ng-template>