
<div class="content">
    <table [dataSource]="matrixData"
           class="mat-elevation-z8"
           mat-table>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef
                mat-header-cell>Id
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.id}}</td>
        </ng-container>

        <ng-container matColumnDef="userId">
            <th *matHeaderCellDef
                mat-header-cell>Id user
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.userId}}</td>
        </ng-container>

        <ng-container matColumnDef="interviewerId">
            <th *matHeaderCellDef
                mat-header-cell>Id interviewer
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.interviewerId}}</td>
        </ng-container>

        <ng-container matColumnDef="topics">
            <th *matHeaderCellDef
                mat-header-cell>Topics
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.topics}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th *matHeaderCellDef
                mat-header-cell>Date
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.date}}</td>
        </ng-container>

        <ng-container matColumnDef="results">
            <th *matHeaderCellDef
                mat-header-cell>Results
            </th>
            <td *matCellDef="let el"
                mat-cell>{{el.results}}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th *matHeaderCellDef
                mat-header-cell
                style="width: 100px">
                <button (click)="openAddDialog()"
                        e2e-id="addMatrix"
                        mat-icon-button
                        style="color: green">
                    <mat-icon>add_to_photos</mat-icon>
                </button>
            </th>
            <td *matCellDef="let element"
                mat-cell>
                <button (click)="openEditDialog(element)"
                        color="primary"
                        e2e-id="editMatrix"
                        mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteItemMatrix(element)"
                        color="warn"
                        e2e-id="deleteMatrix"
                        mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns"
            mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;"
            mat-row></tr>
    </table>

</div>

