<div mat-dialog-content>
    <h1 mat-dialog-title>Выбрать диаграмму</h1>
    <div class="user-list">

        <mat-card *ngFor="let item of data"
                  class="user-card">
            <mat-card-header>
                <mat-card-title>
                    <span matBadge="?"
                          matBadgeOverlap="false"
                          matBadgeSize="small"
                          matTooltip="{{item.comment}}">{{item.name}}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <button (click)="onOkClick(item)"
                        aria-label="Add"
                        mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
                <button (click)="deleteClick(item)"
                        aria-label="Delete"
                        mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div mat-dialog-actions
     style="float: right">
    <button (click)="onNoClick()"
            color="warn"
            mat-button>Закрыть
    </button>
</div>
