form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

textarea {
  height: 100px;
}


.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3% 5%;
}

.user-card {
  max-width: 250px;
  min-width: 250px;
  margin: 2% 1%;
}

