form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-list {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3% 5%;
}

.user-card {
  justify-content: space-between;
  display: flex;
  margin: 2% 1%;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}

.user-header {
  display: flex;
}

.user-header-text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  padding: 5% 0;
}