<div mat-dialog-content>
    <h1 mat-dialog-title>{{title}}</h1>
    <div class="user-list">
        <mat-card *ngFor="let user of userList"
                  class="user-card">
            <mat-card-header>
                <img [src]='user.userPrivate.photo'
                     alt=""
                     mat-card-avatar>
                <div class="user-header">
                    <div class="user-header-text">{{user.userPrivate.fullNameRu}}</div>
                </div>
            </mat-card-header>
            <mat-card-actions style="justify-content: space-around">
                <button [mat-dialog-close]="onOkClick(user)"
                        e2e-id="AddUser"
                        mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
                <a href="https://team.andersenlab.com/employee/{{user.externalId}}/personal-info"
                   mat-icon-button
                   target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div mat-dialog-actions
     style="float: right">
    <button (click)="onNoClick()"
            color="warn"
            mat-button>Закрыть
    </button>
</div>