<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Вход
					</span>

                <div class="wrap-input100 validate-input m-b-16"
                     data-validate="Username is required">
                    <label>
                        <input #userName
                               class="input100"
                               e2e-id="username"
                               name="username"
                               placeholder="@Email"
                               type="text">
                    </label>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16"
                     data-validate="Password is required">
                    <label>
                        <input #userPassword
                               class="input100"
                               e2e-id="password"
                               name="pass"
                               placeholder="Password"
                               type="password">
                    </label>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button (click)="login(userName.value, userPassword.value)"
                            class="login100-form-btn"
                            e2e-id="singIn">
                        Войти
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>