<div mat-dialog-content>
    <form [formGroup]="form">
        <h1 mat-dialog-title>Добавить комментарий </h1>

        <mat-form-field class="example-full-width">
            <mat-label>Коментарий</mat-label>
            <label>
                <textarea e2e-id="inputComment"
                          formControlName="comment"
                          matInput></textarea>
            </label>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()"
            mat-button>No Thanks
    </button>
    <button [disabled]="!form.valid"
            [mat-dialog-close]="onOkClick()"
            e2e-id="saveButton"
            mat-button>Ok
    </button>
</div>
