<div mat-dialog-content>
    <form [formGroup]="form">
        <h1 mat-dialog-title>{{title}} </h1>

        <mat-form-field class="example-full-width">
            <mat-label>User Id</mat-label>
            <input e2e-id="inputUserId"
                   formControlName="userId"
                   matInput
                   type="number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Interviewer Id</mat-label>
            <input e2e-id="inputInterviewId"
                   formControlName="interviewerId"
                   matInput
                   type="number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Date</mat-label>
            <input e2e-id="inputDate"
                   formControlName="date"
                   matInput
                   type="date">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Topics</mat-label>
            <input e2e-id="inputTopics"
                   formControlName="topics"
                   matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Results</mat-label>
            <input e2e-id="inputResults"
                   formControlName="results"
                   matInput
                   type="text">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()"
            mat-button>No Thanks
    </button>
    <button [disabled]="!form.valid"
            [mat-dialog-close]="onOkClick()"
            cdkFocusInitial
            e2e-id="saveMatrix"
            mat-button>Ok
    </button>
</div>
